.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    align-items: center;
       
margin: 0 0;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

li > *{
    
    text-decoration: none;
    color: rgba(240, 248, 255, 0.438);
}


.nav-icon{
    background-color: rgba(23, 49, 93,1);
    padding: 10px;
    border: none;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    /* color: white; */
    border-radius: 30px;
}


.nav-icon span{
    color: white;
    display: none;
}





.nav-icon:hover{
    background-color: rgb(19, 68, 136);
    transition: 0.5s;
    color: black;
}